/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);
  --title-texxt-color: black;

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/

/* ========== BODY STYLES ========== */

body {
  padding: 0 1.25rem;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
}

/* ============ DARK THEME ============ */


/* ========== CLASS FOR DARK-THEME ========== */

body.dark-theme {
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: #fff /* hsl(246, 16%, 12%)*/;
  --border-color: hsl(0, 0%, 20%);
  --title-texxt-color: white;
}

/* ========= ANIMACIÓN DE CARGA INICIAL ====== */
.loader{
  background-color: var(--body-color);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader.hide{
  display: none;
}

.loader-img{
  width: 100px;
  fill: var(--first-color);
  position: relative;
  animation: load 2s infinite;
}

@keyframes load{
  0%{
    top: 0;
  }
  50%{
    top: -30px;
  }
  100%{
    top: 0;
  }
}

/* ========== NAVBAR ========== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-texxt-color);
}

.navbar-icons i{
  margin-left: 1rem;
}

.container-logo {
  display: flex;
  align-items: center;
}

.container-logo h2 {
  font-size: 15px;
}

.academlo-logo{
  width: 40px;
  fill: var(--first-color);
}

/*ERROR: LA PARTE SUPERIOR CONSERVA EL FONDO
NO SE PONE TODO DE BLANCO COMO EL ESTILO BASE */
.nav-menu{
  background-color: white;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
}

.nav-menu.visibility{
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  list-style: none;
}

.home-text{
  padding-bottom: 1rem;
  color: var(--first-color);
}

/* ========== FEATURE PRODUCT ========== */

/* =====IMG PRODUCT ===== */
.container--img-product {
  width: 70vw;
  max-width: 250px;
  height: 60vh;
  position: absolute;
  z-index: -10;
  top: 0;
  right: 0;
  background-color: var(--first-color);
}

.img-product {
  margin-top: 15vh;
  width: 100%;
}

/* =====TEXT PRODUCT ===== */
.feature--product__text {
  margin-top: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature--product__text h1{
  color: var(--title-color);
}  

.feature--product__text p{
  color: var(--text-color);
} 

.feature--product__price {
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

/* =====BUTTONS PRODUCT ===== */
.feature--product-buttons {
  padding-bottom: 3rem;
  border: none;
}
 /* error no se juntan ambos iconos
  pendiente de revisar

  SOLUCIONADO - PENDIENTE POR ACEPTACIÓN DEL GRUPO
  SE RESTÓ EL MARGEN QUE HABÍA ENTRE AMBOS
 */
.button--discover {
  background-color: var(--text-color-light);
  padding: .5rem 1rem;
  font-weight: bold;
}

.button--add-to-cart {
  background-color: var(--button-color);
  color: var(--container-color);
  padding: 1rem;
  margin-left: -.5rem;
}

/* ========= SHOW PRODUCTS ========== */

/* TEXT */
.stocks-products{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
    "uno dos"
    "tres cuatro" ;
  padding-bottom: 3rem;
}

.product-text{
  padding: .5rem;
  text-align: center;
}

.uno{
  grid-area: uno;
}

.dos{
  grid-area: dos;
}

.tres{
  grid-area: tres;
}

.cuatro{
  grid-area: cuatro;
}

h5{
  padding-bottom: .5rem;
}

/*".bord" PENDIENTE DE BORDES 
IGUALES AL DISEÑO ORIGINAL*/
.bord{
  border-right: 1px solid grey;
}

/*IMAGES*/
.product{
  width: 11rem;
  margin: auto;
  padding: 10px 20px;
}

.product-image{
  width: 100%;
  background-color: var(--card-color);
  padding: 6px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

/*VERIFICAR TAMAÑO DE LETRA*/
.text{
  background-color: var(--container-color);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-left: 10px;
}

.bx-plus{
  position: absolute;
  background-color: #fff;
  margin: 124px 105px;
  border-radius: 50%;
  padding: 0.25rem;
  box-shadow: 1px 1px 7px grey;
}